/*
    This is a sample file for bit.ly oauth credentials, 
    obtain valid credentials from bit.ly, updating the below client_id and client_signature accordingly
    
    copy the valid file from bitly_oauth_credentials.js.sample to bitly_oauth_credentials.js
    
    support@bit.ly
    
    Stay up-to-date with the latest api news 
*/
var bitly_oauth_credentials={
    client_id : "____YOUR_BITLY_OAUTH_CLIENT_ID____",
    client_signature : "____YOUR_BITLY_OAUTH_SIGNATURE___"
}