
#middle {
    margin:10px auto ;
    width:800px;
}


#bento_options_display {
 
}

.optionsDataContainer {
    padding:10px 0;
    border-top:1px solid #ccc;
}
.optionsDataContainer:first-child {
    border-top:4px solid #ccc;
}

.optionsDataContainer h2 {
    font-size:22px;
    color:#666;
    font-weight:normal;
    padding-bottom:8px;    
}


#logo {
    margin:18px 30px 0;
}
.api_type_selector {
    margin-top:5px;
    border-top:1px solid #ccc;
    padding:10px;
    font-size:14px;
    line-height:1.5em;
}


.bentoOptions {
    padding:5px 0 5px;
/*    background:-webkit-gradient(linear, left top, left bottom, 
                                 from(#ccc), to(#dddddd), 
                                 color-stop(0.3, #d0d0d0), color-stop(0.6, #d9d9d9));    */

    display:block;  

/*    -webkit-box-shadow:2px ;*/
}
.bentoOptions:first-child {
/*    border-top:none;    
    todo:
    solve this with css3

*/
}


/*sign in  */


/* sign up form */ 

.inputContainer {
    margin-bottom:10px;
}
.inputContainer label { 
    display:block;
    font-size:16px;
    color:#666;
    margin-bottom:3px;
}

.inputContainer input[type=text], .inputContainer input[type=password], .mediumSizeInputField { 
    width:220px;
    font-size:16px;
    color:#454545;
    border:1px solid #ccc;
    margin-right:5px;
    border-radius:6px;
    padding:5px 8px;
/*    background:#FEFFEC;    */
/*    -webkit-box-shadow:1px 1px 6px #ddd;   */                                   
/*    , inset -2px -2px 6px #feffd7*/
}

#bitly_user_data_container .bitly_user_data_item .largeSizeInput_apiKey {
    width:400px;
}


.wideSizeButton {
    padding:6px 30px;
}


/* sharing  */

#signOutButtonContainer {
    float:right;
    font-size:14px;
}


.linkedAccountsList h3 {
    font-size:14px;
    font-weight:normal;
    color:#333;
    padding-bottom:8px;
}
.linkedAccountsList {
    
}



/*
.linkedAccountsItems {
    border-top:1px solid #ccc;
    padding:8px 0px 8px;
    margin-bottom:5px;
    font-size:14px;
}


.linkedAccountsItems input[type=checkbox] {
    border:1px solid #ccc;
    color:#454545;
    padding:5px;
    margin-right:10px;
}*/

/* just a litle text at the bottom  */
#bitly_options {
    font-size:26px;
    color:#999;
    border-bottom:1px solid #ccc;
    padding:12px 0 7px;
    margin:0 0 13px;
}

.meta_graph {
    padding-top:15px;
}
#share_accounts {
    
}
#share_accounts ul {
    
}
#share_accounts h3 {
    font-size:15px;
    font-weight:normal;
    color:#555;
    padding-bottom:5px;
}
#share_accounts p {
    padding-bottom:5px;
}


#share_accounts li {
    padding-bottom:5px;
    font-size:13px;
}
.account_icon {
    vertical-align:bottom;
    padding-right:5px;
}
.account_name {
    padding-right:5px;
}