/*
    See README.txt for copyright and Licsense
*/
.popup_body {
    background:#ededed;
}

#bento_share {
    font-size:14px;
    padding:10px;
    min-width:400px;
    min-height:130px;
    border:1px solid #ccc;
}

