/*
    See README.txt for copyright and Licsense
*/
.popup_body {

}
#container {
    padding:10px 10px 20px;
/*    background:#ededed;*/

    background:-webkit-gradient(linear, right bottom, right top, 
                             from(#ededed), to(#fff), 
                             color-stop(0.4, #eee), color-stop(0.2, #f0f0f0));
    -webkit-border-radius: 5px;
    border:1px solid #ccc;
    position:relative;
    
}

#bento_share {
    font-size:18px;
    padding:10px;
    color:#444;
    width:460px;
    height:105px;
    border:1px solid #ccc;
    background:#feffec;
    margin-bottom:8px;
    z-index:2;
    -webkit-border-radius: 5px;    

}
#hidden_sharing_box {
    position:absolute;
    background:transparent;
    color:#feffec;
    border:0px;
    padding:0;
    margin:0;
    z-index:1;
    top:0px;
    left:0px;
}
#hidden_sharing_box textarea {
    background:#efefef;
    width:30px;
    color:red;
    height:20px;
    border:1px solid #efefef;
    color:#feffec;   
    z-index:1;
    position:absolute;
    top:3px;
    left:3px;     
        
}
.copyContainer {
    position:relative;
    height:30px;
}
#copy_link_button {
    color:white;
    padding:6px 6px 3px;
    display:block;
    font-size:13px;
}
.copy_link_button_container {
    width:74px;
    height:28px;
    text-align:center;    
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    border-radius:4px;    
    color:white;
    border:1px solid #ccc;    
    background:-webkit-gradient(linear, right bottom, right top, 
                                 from(#6BAFF0), to(#9EC8F5), 
                                 color-stop(0.5, #7EB8F2));   

/*    -webkit-box-shadow:0px 2px 4px #ccc; */
    cursor:pointer;
}
.copy_link_button_container:hover {
   -webkit-box-shadow:inset 2px 1px 8px #666;     
}


.bitly_shorten_box_meta_links .bitly_popup_promo {
    color:#c79840;
    position:absolute;
    bottom:10px;    
    left:20px;
}
#sharing {
    padding:0 0 0 4px;
}

#share_accounts, #share_accounts li {
    display:inline;
}
#share_accounts li {
    padding-right:2px;
}
.account_icon {
    vertical-align:bottom;
    cursor:pointer;
}
.account_icon:hover {

}

.bitly_shorten_box_meta_links .options_page {
    position:absolute;
    bottom:14px;    
    left:14px; 
}
.share_account_header {
    font-size:13px;
    padding:0 4px 7px 0;
    
}

.bitly_shorten_box_meta_links {
    font-size:13px;  
}

#sharing_accounts_display {
    float:left;
    min-width:250px;
}
#share_controls {
    float:right;
    padding-left:6px;
    position:relative;
    width:72px;
    min-height:30px;
}
.action_controls {
    float:right;
    width:155px;
}
#message_box {
    position:absolute;
    width:440px;  
    left:0;
    padding:0 25px;
    top:35px; 
    text-align:center;
    color:#888;
    font-size:15px;     
}
#share_loading_graphic {
    position:absolute;
    top:0;
    left:10px;
    width:72px;
    min-height:30px;
    text-align:center;
    display:none;
}

#sharing_buttons_box {
    min-width:72px;
    position:absolute;
    top:0;
    left:10px;
    min-height:30px;
}

#loading_short_url {
    /*http://preloaders.net/generator.php?image=35&speed=7&fore_color=888888&back_color=FEFFEC&size=50x50&transparency=0&reverse=0&uncacher=56.34618382900953*/    
    position:absolute; 
    opacity:0.7; 
    color:#999;
    font-size:26px;
    background:transparent;    
    left:0;
    top:35px;
    text-align:center;
    min-width:460px;    
}

.copyContainerOuter {
    position:relative;
    float:right;
    display:none;
    width:72px;
}