<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>bit.ly Chrome Extension</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{static_url("base.css")}}" type="text/css" charset="utf-8" />
        <link rel="icon" type="image/png" href="{{static_url("favicon.ico")}}" />
    </head>
    <body>
        <div id="container">
            <div id="top">

            </div> <!-- end #top -->
            
            <div id="middle">
            
                bit.ly Chrome Extension.
                
                <p><a href="/install/bitly_chrome_extension.crx">install</a> (current version is {{escape(current_version)}})</p>

            </div> <!-- END #middle -->
        
            <div id="bottom">

                <ul>
                    <li><a href="http://bit.ly/">bit.ly</a></li>
                    <li><a href="http://labs.bit.ly/">labs.bit.ly</a></li>
                    <li><a href="http://feedback.bit.ly/">feedback</a></li>
                    <li><a href="mailto:support%2Bchrome-extension@bit.ly">contact</a></li>
                    <li><a href="http://bit.ly/pages/privacy">privacy</a></li>
                </ul>

                © 2010 bit.ly <sup>TM</sup>
                
            </div> <!-- end #bottom -->
            
        </div> <!-- end #container -->
    </body>
</html>
