/* 
    RESETS  
*/
* { padding:0; margin:0; }
body {
    font-family:Arial, sans-serif;
    font-size:13px;
    background-color:#FFF;
    color:#555;
}
h1,h2,h3,h4,h5,h6,input,select,option,textarea {
    font-size:13px;
    font-family:Arial, sans-serif;    
}
ul {
    list-style:none;
}
img {
    border:0;
}
.hr { clear:both; float:none; }
.hr hr { display:none; }
a {
    text-decoration:none;
    color:#69f;
    outline:none;    
}
a:hover {
    color:#4D81B3;
}